
{% extends "admin_base.html" %}
{% block content %}
{% load static %}
<br>
<br>
<h1 class="text-center">Our Team</h1>

    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
            
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Add Our Team</h3>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Name <span class="text-danger">*</span></label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Position </label>
                                {{ form.position }}
                            </div>
                        </div>
                    </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Image</label><br>
                                    {{ form.team_image }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Message </label>
                                    {{ form.message }}
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>


       
<div class="container-fluid">
    <h4>List Of Host Users </h4><br>
    
    <table id="myTable"  class="table align-middle mb-0 bg-white table-striped" width="100%">
    <!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
    <thead class="bt-5">
    <tr>
    <th>Name</th>
    <th>Positione</th>
    <th>Image</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
    
     {% for team in teams %} 
    <tr>
    <td>{{team.name}} </td>
    <td> {{team.position}}</td>
    {% comment %} <td>{{team.facebook_link}} </td>
    <td>{{team.instagram_link}} </td> {% endcomment %}
    <td><img src="{{team.team_image.url}}" style="width: 50px; height: 50px;"></td>
    <td> <span class="badge badge-success rounded-pill d-inline">Active</span> </td>
    <td>
    <a type="button" href="{% url 'update_team' team.team_id%}" class="btn btn-link btn-sm btn-rounded">
    Edit
    </a>
    <a type="action"  href="#"  class="btn btn-link btn-sm btn-rounded">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal"  data-mdb-target="#exampleModal{{team.team_id}}">
    Delete
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{team.team_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel{{team.team_id}}">Delete Priority Level</h5>
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body"> Are You Sure want to delete ? </div>
    <div class="modal-footer">
    <button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
    <a type="action" href="{% url 'delete_team' team.team_id%}" class="btn btn-link btn-sm btn-rounded">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Delete
    </button>
    </a>
    </div>
    </div>
    </div>
    </a>
    
    </td>
    </tr>
    {% endfor %}

    </table>
<div>

{%endblock content%}