{% extends "admin_base.html" %}
{% block content %}

<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Add Itinerary</h3>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="top-tab2">
                <form method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Tour Name <span class="text-danger">*</span></label>
                                {{ form.tour }}
                            </div>
                        </div>
                    </div>  
                    <div class="dynamic-fields"></div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h4>Itineraries</h4>
        <table id="myTable" class="table align-middle mb-0 bg-white table-striped" width="100%">
            <thead class="bt-5">
                <tr>
                    <th>Tour Name</th>
                    <th>Day</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for itinary in itinaries %}
                    <tr>
                        <td>{{ itinary.tour.name }}</td>
                        <td>{{ itinary.day }}</td>
                        <td>{{ itinary.name }}</td>
                        <td>{{ itinary.description }}</td>
                        <td><span class="badge badge-success rounded-pill d-inline">Active</span></td>
                        <td>
                            <a type="button" href="{% url 'edit_itinary' itinary.itinary_id %}" class="btn btn-link btn-sm btn-rounded">Edit</a>
                            <button type="button" class="btn btn-danger delete-itinerary" data-itinary-id="{{ itinary.itinary_id }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#id_tour').change(function(){
            var tourId = $(this).val();
            $.ajax({
                url: '{% url "get_tour_itineraries" %}',
                data: {
                    'tour_id': tourId
                },
                dataType: 'json',
                success: function(data){
                    $('.dynamic-fields').empty();

                    var numDays = parseInt(data.tour_days);
                    var itineraries = data.itineraries;

                    for (var i = 1; i <= numDays; i++) {
                        var itinerary = itineraries.find(it => it.day == i) || {itinary_id: '', name: '', description: ''};
                        addItineraryFields(i, itinerary.itinary_id, i, itinerary.name, itinerary.description);
                    }
                }
            });
        });

        function addItineraryFields(index, itinary_id, day, name, description) {
            $('.dynamic-fields').append(
                '<div class="row border my-2 p-3 shadow" data-itinary-id="' + itinary_id + '">' +
                    '<div class="col-sm-6">' +
                        '<div class="form-group">' +
                            '<label>Day Sequence Day ' + day + ' <span class="text-danger">*</span></label>' +
                            '<input type="text" name="day_sequence_' + index + '" class="form-control" value="' + day + '">' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-sm-6">' +
                        '<div class="form-group">' +
                            '<label>Plan Name Day ' + day + ' <span class="text-danger">*</span></label>' +
                            '<input type="text" name="plan_name_' + index + '" class="form-control" value="' + name + '">' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-sm-12">' +
                        '<div class="form-group">' +
                            '<label>Description Day ' + day + ' <span class="text-danger">*</span></label>' +
                            '<textarea name="description_' + index + '" class="form-control">' + description + '</textarea>' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-sm-12">' +
                        '<button type="button" class="btn btn-danger delete-itinerary" data-itinary-id="' + itinary_id + '">Delete</button>' +
                    '</div>' +
                '</div>'
            );
        }

        $(document).on('click', '.delete-itinerary', function(){
            var itinaryId = $(this).data('itinary-id');
            if (itinaryId) {
                $.ajax({
                    url: '{% url "delete_itinerary" %}',
                    method: 'POST',
                    data: {
                        'itinary_id': itinaryId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(){
                        var container = $('.row[data-itinary-id="' + itinaryId + '"]');
                        container.find('input').val('');
                        container.find('textarea').val('');
                        container.data('itinary-id', ''); // Remove id to mark it as a new entry
                    }
                });
            } else {
                var container = $(this).closest('.row');
                container.find('input').val('');
                container.find('textarea').val('');
            }
        });
    });
</script>
{% endblock %}
