
{% extends "admin_base.html" %}
{% block content %}
<br>
<br>
<h1 class="text-center">Our Team</h1>

    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
            
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Add Our Team</h3>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Name <span class="text-danger">*</span></label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Position </label>
                                {{ form.position }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Facebook Link </label><br>
                                {{ form.facebook_link }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Instagram Link</label>
                                {{ form.instagram_link }}
                                {% comment %} <img class="card-img-top" src="{{ company.home_image.url }}" style="width: 50%; height: 100px;"  alt="Card image cap"> {% endcomment %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Image</label><br>
                                    {{ form.team_image }}
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

{%endblock content%}