{% extends "admin_base.html" %}
{%load static%}
{% block content %}
<br>
<br>
<h1 class="text-center">Add Description for Trekking And Special</h1>

    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
            
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Trekking And Special</h3>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Goreto Special Description <span class="text-danger">*</span></label>
                                {{ form.goreto_special_des }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Trekking Description </label>
                                {{ form.trekking_des }}
                            </div>
                        </div>
                    </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}