<!DOCTYPE html>
<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Goreto Treks - Nepal Trekking Company, Trekking Company in Nepal, Nepal Trekking Agency, Trekking Agency in Nepal, Local Nepal Trekking Company, Local Trekking Company in Nepal, Nepal Local Trekking Agency, Local Trekking Agency in Nepal, Best Nepal Trekking Company, Best Trekking Company in Nepal, Nepal Best Trekking Company, {{seo_content.discription}}</title>
    <meta name="description" content="Welcome Goreto Treks Pvt. Ltd is the leading local Trekking Agency in Nepal. We are professional Nepal Trekking Company based in Balaju, Kathmandu Nepal. Nepal Trekking Company specialized for trekking in Nepal, Nepal Trekking, family trekking &amp; Private Trek. Book directly with local trekking operator, and pay less." />
        <!-- Fav Icon -->
	{% load static %}
    <link rel="icon"  href="{% static 'assets/images/squarelogo.ico' %}"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

    <!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome-all.css'%}"/>
	<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/owl.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/color.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/toastr.css' %}"/>





    {% comment %} <link href="Content/assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="Content/assets/css/flaticon.css" rel="stylesheet">
    <link href="Content/assets/css/owl.css" rel="stylesheet">
    <link href="Content/assets/css/bootstrap.css" rel="stylesheet">
    <link href="Content/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="Content/assets/css/animate.css" rel="stylesheet">
    <link href="Content/assets/css/nice-select.css" rel="stylesheet">
    <link href="Content/assets/css/jquery-ui.css" rel="stylesheet">
    <link href="Content/assets/css/color.css" rel="stylesheet">
    <link href="Content/assets/css/style.css" rel="stylesheet">
    <link href="Content/assets/css/responsive.css" rel="stylesheet">
    <link href="Content/css/toastr.css" rel="stylesheet" /> {% endcomment %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


	<style>
		.dark-header li a{
			color:white;
		}
		.main-header.style-two .header-lower .logo-box .bg-layer {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 5000px;
			height: 100%;
			background: #ffffff;
		}

		.main-header.style-two .header-lower .logo-box .bg-layer {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 5000px;
			height: 100%;
			background: #ffffff;  !important;
		}
		{% comment %}#008fd6; #c9e0f5 {% endcomment %}
		.main-header.style-two .header-lower .main-menu .navigation > li > a {
			color: #000000;
		}



		.main-menu .navigation > li > ul > li > ul > li > ul {
			position:absolute;
			left:100%;
			top:0%;
			width:230px;
			z-index:100;
			{% comment %} display:none; {% endcomment %}
			padding: 10px 0px;
			filter: alpha(opacity=0);
			background: #fff;
			border-radius: 10px;
			-webkit-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-ms-transition: all 0.2s ease-out;
			-webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
			box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
			-webkit-transform: rotateX(-90deg);
			transform: rotateX(-90deg);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

	
		

		

	</style>

</head>
<!-- page wrapper -->
	<body>

		<div class="boxed_wrapper">
			
			
			<!-- main header -->
			<header class="main-header style-two">
				<!-- header-top -->
				

				<div class="dark-header" style="background-color:#008fd6;">
					<div class="auto-container">
						<div class="top-inner clearfix d-flex">
							<ul class="top-info pull-left d-flex justify-content-start w-75 social-links">
							  <!-- Email Icon and Address -->
							  <li  class="mr-4">
								<a href="mailto:{{company.email}}" target="_blank">
								  <i class="fas fa-envelope"></i>
								  <span class="d-none d-md-inline">{{company.email}}</span>
								</a>
							  </li>
							  <!-- Phone Icon and Number -->
							  <li class="mr-4">
								<a href="tel:{{company.contact}}" target="_blank">
								  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
								  </svg>
								  <span class="d-none d-md-inline">{{company.contact}}</span>
								</a>
							  </li>
							  <!-- Location Icon and Address -->
							  <li class="mr-4">
								<a href="https://maps.app.goo.gl/ua15KsG7UcuBbr6V6" target="_blank">
								  <i class="fas fa-map-marker-alt"></i>
								  <span class="d-none d-md-inline">{{company.address}}</span>
								</a>
							  </li>
							</ul>
							<ul class="top-info pull-right social-links clearfix d-flex justify-content-end" style='margin-left:10px;'>
								<li class="mr-3"><a href="https://www.facebook.com/goretotrek"  target="_blank"><i class="fab fa-facebook-f" style="font-size: 20px"></i></a></li>
								<li class="mr-3"><a href="https://www.instagram.com/goretotreks/" target="_blank"><i class="fab fa-instagram" style="font-size: 20px"></i></a></li>
								<li class="mr-3"><a href="https://wa.me/+9779851316017" target="_blank"><i class="fab fa-whatsapp" style="font-size: 20px"></i></a></li>
								<li class="mr-3"><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank"><i class="fab fa-tripadvisor" style="font-size: 20px"></i></a></li>
								<li class="mr-3"><a href="https://twitter.com/goretotreks" target="_blank"><i class="fa fa-twitter" style="font-size: 20px;"></i></a></li>
								<li class="mr-3"><a href="https://www.youtube.com/@goretotreks1606" target="_blank"><i class="fab fa-youtube" style="font-size: 20px;"></i></a></li>
								<li class="mr-3"><a href="https://www.linkedin.com/in/goreto-treks-501788305/" target="_blank"><i class="fab fa-linkedin" style="font-size: 20px;"></i></a></li>
								<li class="mr-3"><a href="https://www.reddit.com/user/GoretoTreks/?share_id=nlU8UWIw5H_gHjoR_z3GI&utm_content=1&utm_medium=ios_app&utm_name=ioscss&utm_source=share&utm_term=5" target="_blank"><i class="fab fa-reddit" style="font-size: 20px;"></i></a></li>
						
							</ul>
							{% comment %} <div class="btn-box pull-right">
								<a href="{%url 'destination'%}" class="theme-btn">Book A Tour </a>
							</div> {% endcomment %}
						</div>
					</div>
				</div>
				
				<!-- header-lower -->
				<div class="header-lower" style="background-color:#ffffff!important">
					<div class="auto-container">
						<div class="outer-box">
							<div class="logo-box">
								<div class="bg-layer"></div>
								 <figure class="logo" style="float: left; object-fit: cover;"><a href="{% url 'index' %}"><img style="min-width: 150px" src="{{company.logo_image.url}}" alt=""></a></figure>
								
							</div>
							<div class="menu-area clearfix">
								<!--Mobile Navigation Toggler-->
								<div class="mobile-nav-toggler">
									<i class="icon-bar"></i>
									<i class="icon-bar"></i>
									<i class="icon-bar"></i>
								</div>
								<nav class="main-menu navbar-expand-md navbar-light">
									<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
										<ul class="navigation clearfix">
													<li class="dropdown">
														<a href="{% url 'destination' %}">Destinations</a>
														<ul class="submenu">
															{% for destination in destinations %}
															<li class="dropdown">
																<a href="{% url 'one_destination' destination.slug %}">{{ destination.name }}</a>
																<ul class="sub-submenu">
																	{% for nep_reg in nepal_regions %}
																	{% if nep_reg.destination_id == destination.destination_id %}
																	<li class="dropdown">
																		<a href="{% url 'tour_list' nep_reg.slug %}">{{nep_reg.name}}</a>
																			<ul class="sub-submenu">
																			{% for trekking in trekkings %}
																				{% if nep_reg.region_id == trekking.region.region_id %}
																				<li>
																					<a style="cursor:pointer" href="{% url 'tour_details' trekking.slug %}">{{trekking.name}}</a>
																				</li>
																				{% endif %}
																			{% endfor %}
																			</ul>
																	</li>
																	{% endif %}
																	{% endfor %}
																</ul>
															</li>
															{% endfor %}
														</ul>
													</li>

													<li class="dropdown">
														<a href="{% url 'activities' %}"> Activities </a>
														
																
																			<ul>
																			
																				<li><a style="cursor:pointer" href="{% url 'trekking' %}">Trekking</a></li>
																					<li>{% for activity in activities %} <a style="cursor:pointer" href="{% url 'tour_list' activity.slug %}">{{activity.name}}</a>{% endfor %}</li>
																			</ul>
																		
																
													</li>
	
													<li class="dropdown">
														<a href="{%url 'about_us'%}"> About Us </a>
														{% comment %} <div class="megamenu"> {% endcomment %}
																			<ul>
																				
																					<li><a style="cursor:pointer" href="{%url 'contact_us' %}"> Contact Us </a></li>
																					<li><a style="cursor:pointer" href="{% url 'our_team'%}"> Our Team </a></li>
																					<li><a style="cursor:pointer" href="{%url 'about_us'%}"> Why Goreto </a></li>
																					
																			</ul>
																		
														{% comment %} </div> {% endcomment %}
													</li>
											<li class="dropdown">
												<a href="{%url 'blogs'%}">Blogs</a>
											</li>

											<li class="dropdown">
												<a href="{% url 'csr'%}">CSR</a>
											</li>
											
											<li class="dropdown">
												<a href="{% url 'gallary'%}">Gallary</a>
											</li>
											
											<li class="dropdown">
												<a href="{%url 'goreto_special'%}">Goreto Special</a>
												{% comment %} <ul>
																				
													<li>{% for special in goreto_special %}<a style="cursor:pointer" href="{%url 'contact_us' %}"> Contact Us </a></li>
																							
												</ul> {% endcomment %}
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<ul class="menu-right-content clearfix">
								<li class="nav-item">
									<a href="{% url 'plan_trip'%}" class="theme-btn">Plan Your Trip</a>
								</li>
							</ul>							
						</div>
					</div>
				</div>
				<script>
					document.querySelectorAll('.mobile-menu.navigation li').forEach(function(li) {
						li.addEventListener('click', function() {
							// Toggle the submenu visibility
							var submenu = li.querySelector('ul');
							if (submenu.style.display === 'none') {
								submenu.style.display = 'block'; // Or whatever method you're using to show the submenu
							} else {
								submenu.style.display = 'none';
							}
						});
					});
				</script>
				
				<style>

					

					.mobile-menu .navigation li > ul, .mobile-menu .navigation li > ul > li > ul, .mobile-menu .navigation > li.dropdown > .megamenu {
						display: none;
					}

					
					.mobile-menu .dropdown ul ul {
							top: 0;
							left: 0;
					}
					.mobile-menu .dropdown ul ul ul {
						top: 0;
						left: 125%;
					}
					
					
					
					
					.fa.fa-twitter::before{
						content:"𝕏";
					}
					.menu-right-content {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						list-style: none;
					}
					
					.nav-item {
						margin-left: 20px; /* Adjust spacing between items */
					}
					
					.nav-link {
						text-decoration: none;
						color: #333; /* Link color */
						padding: 10px 15px;
						border-radius: 5px;
						background-color: #007bff; /* Button color */
						font-weight: bold;
						transition: background-color 0.3s ease; /* Smooth transition */
					}
					
					.nav-link:hover {
						background-color: #00000; /* Darker shade on hover */
						color: #000000;
					}
					
					/* Media query to hide navigation in mobile view */
					@media screen and (max-width: 768px) {
						.menu-right-content {
							display: none;
	
							
						}
					}
							

				</style>
	
				<!--sticky Header-->
				<div class="sticky-header">
					<div class="auto-container">
						<div class="outer-box">
							<div class="logo-box">
								
								<figure class="logo"><a href="{% url 'index' %}"><img src="{% static "assets/images/scroll_logo.png" %}" alt=""></a></figure>
							</div>
							<div class="menu-area">
								<nav class="main-menu clearfix">
									<!--Keep This Empty / Menu will come through Javascript-->
								</nav>
							</div>
							<ul class="menu-right-content clearfix">
								<li class="nav-item">
									<a href="{% url 'plan_trip'%}" class="theme-btn">Plan Your Trip</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<!-- main-header end -->
			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><i class="fas fa-times"></i></div>
	
				<nav class="menu-box">
					<div class="nav-logo"><a href="index.html"></a></div>
					<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
					<div class="contact-info">
						<h4>Contact Info</h4>
						<ul>
							<li>{{company.address}}</li>
							<li><a href="tel:{{company.contact}}">{{company.contact}}</a></li>
							<li><a href="mailto:{{company.email}}">{{company.email}}</a></li>
						</ul>
					</div>
					<div class="social-links">
						<ul class="clearfix">
							<li><a href="https://twitter.com/goretotreks" target="_blank" rel="noopener noreferrer"><span class="fa fa-twitter"></span></a></li>
							<li><a href="https://www.facebook.com/goretotrek"><span class="fab fa-facebook-square"></span></a></li>
							<li><a href="https://www.instagram.com/goretotreks/"><span class="fab fa-instagram"></span></a></li>
							<li><a href="https://www.youtube.com/@goretotreks1606"><span class="fab fa-youtube"></span></a></li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- End Mobile Menu -->
	



					<!-- Add this chatbox and icon to your HTML wherever you want it to appear -->
			<div id="whatsapp-chatbox" class="whatsapp-chatbox">
				<button class="whatsapp-close" onclick="toggleChatbox()">Close</button>
				<div id="whatsapp-messages" class="whatsapp-messages"></div>
				<textarea id="whatsapp-reply" class="whatsapp-reply" placeholder="Type your message"></textarea>
				<button id="whatsapp-send" class="whatsapp-send" onclick="sendMessage()">Send</button>
			</div>
			<div id="whatsapp-icon" class="whatsapp-icon" onclick="toggleChatbox()">
				<!-- Replace 'path/to/your/whatsapp-icon.png' with the actual path to your WhatsApp icon -->
				<img src="{% static 'assets/images/whatsapp.png' %}" alt="WhatsApp Icon">
			</div>

			<style>
				/* Add this style to your CSS */
				.whatsapp-icon {
					width: 62px;
					height: 62px;
					line-height: 64px;
					position: fixed;
					bottom: 7%;
					right: 100px;
					z-index: 1000;
					cursor: pointer;
				}

				.goog-te-gadget-simple{
					background-color: #008fd6;
					line-height: 40px;
					position: fixed;
					bottom: 7%;
					left: 20px;
					z-index: 1000;
					cursor: pointer;
					color:white;
					border:none;
					border-radius:10px;
				}

				.goog-te-gadget-simple span{
					color: white;
				}
			
				.goog-te-gadget-simple .goog-te-gadget-icon{
					display:none;
				}
				.whatsapp-chatbox {
					position: fixed;
					bottom: 120px;
					right: 20px;
					z-index: 1000;
					width: 300px;
					background-color: #fff;
					border: 1px solid #ccc;
					border-radius: 5px;
					padding: 10px;
					display: none;
				}
			
				.whatsapp-messages {
					max-height: 150px;
					overflow-y: auto;
				}
			
				.whatsapp-reply {
					width: 100%;
					padding: 8px;
					margin-top: 10px;
					border: 1px solid #ccc;
					border-radius: 5px;
					resize: none;
				}
			
				.whatsapp-send {
					display: block;
					margin-top: 10px;
					padding: 8px 15px;
					background-color: #25D366;
					color: #fff;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					outline: none;
				}
			
				.whatsapp-close {
					background-color: #ccc;
					color: #fff;
					border: none;
					padding: 5px 10px;
					border-radius: 3px;
					cursor: pointer;
					float: right;
				}
			</style>
			
	
	<!-- Logo added later like magical Himalayan-->
	<style>
		/* CSS for logo */
		.custom-logo {
			position: fixed;
			top: 30px;
			left: 150px;
			z-index: 9999; /* Ensure it appears above other content */
			opacity: 1; /* Initially visible */
			transition: opacity 0.3s ease; /* Add smooth transition */
			width: 100px; /* Set width as needed */
			height: auto; /* Maintain aspect ratio */
		}
		
		/* CSS to hide logo on scroll */
		.hidden {
			opacity: 0;
		}

	
	</style>
		{% comment %} <img class="custom-logo" style="cursor:pointer" src="{% static 'assets/images/squarelogo.jpeg'%}" alt="Logo" width="500"> {% endcomment %}
		<script>
			// JavaScript to hide logo on scroll
			window.addEventListener('scroll', function() {
				var logo = document.querySelector('.custom-logo');
				if (window.scrollY > 50) { // Adjust the scroll threshold as needed
					logo.classList.add('hidden');
				} else {
					logo.classList.remove('hidden');
				}
			});
		</script>

		{% if messages %}
			<div id="customToast" class="custom-toast">
				<div class="toast-body">
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<style>
			.custom-toast {
				position: fixed;
				bottom: 20px;
				right: 20px;
				background-color: #4CAF50;
				color: white;
				padding: 16px;
				border-radius: 5px;
				box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
				z-index: 1000;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.5s linear;
			}

			.custom-toast.show {
				visibility: visible;
				opacity: 1;
			}
		</style>

		<script>
			document.addEventListener('DOMContentLoaded', function() {
				var customToast = document.getElementById('customToast');
				if (customToast) {
					customToast.classList.add('show');
					setTimeout(function() {
						customToast.classList.remove('show');
					}, 5000); // 10 seconds
				}
			});
		</script>


    {% block content %}




    {% endblock content %}


	<script src="../code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
 <!-- main-footer -->

 <footer class="main-footer bg-color-2" id="leg">
	<div class="footer-top pt-130">
		<div class="vector-bg" style="background-image: url({%static 'assets/images/shape/1212.png'%}); "></div>
		<div class="auto-container" style="margin-top:2px; margin-bottom:2px;">
			<div class="row clearfix">
				<div class="col-lg-3 col-md-6 col-sm-12 footer-column">
					<div class="footer-widget logo-widget">
						{% comment %} <figure class="footer-logo" style="margin-bottom: 5px;"><a href="{% url 'index' %}"> <h3 style="color:#008fd6">Goreto Treks</h3> </a></figure> {% endcomment %}
						<div class="widget-title">
							<h3>Goreto Treks</h3>
						</div>
						<div class="text">
							<p>Explore Your Travel With Goreto Treks . Discover your next great adventure with us.</p>
						</div>
						<ul class="social-links clearfix">
							<li><a href="https://www.facebook.com/goretotrek" target="_blank"><i class="fab fa-facebook-f" style="font-size: 30px; padding:10px;"></i></a></li>
							<li><a href="https://www.instagram.com/goretotreks/" target="_blank"><i class="fab fa-instagram" style="font-size: 30px; padding:10px;"></i></a></li>
							<li><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank"><i class="fab fa-tripadvisor" style="font-size: 30px; padding:8px;"></i></a></li>
						</ul>
						<ul class="social-links clearfix" style="margin-top:10px">
							<li><a href="https://twitter.com/goretotreks" target="_blank"><i class="fa fa-twitter" style="font-size: 35px; padding:10px;"></i></a></li>
							<li><a href="https://www.youtube.com/@goretotreks1606" target="_blank"><i class="fab fa-youtube" style="font-size: 30px; padding:10px;"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin" style="font-size: 30px; padding:8px;"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 footer-column">
					<div class="footer-widget links-widget">
						<div class="widget-title">
							<h3>Services</h3>
						</div>
						<div class="widget-content">
							<ul class="links-list clearfix">
								<li><a style="cursor:pointer" href="{% url 'trekking' %}">Trekking</a></li>
								{% for activity in footer_activities %} 
								<li><a style="cursor:pointer" href="{% url 'tour_list' activity.slug %}">{{activity.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 footer-column">
					<div class="footer-widget gallery-widget">
						<div class="widget-title">
							<h3>Gallery</h3>
						</div>
						<div class="widget-content">
							<ul class="image-list clearfix">
								{% for image in gallary_images%}			
								<li><figure class="image-box"><a href="{% url 'gallary' %}"><img style="float: left; width: 400px; height: 200px; object-fit: cover;"src="{{image.image.url}}" alt=""></a></figure></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 footer-column">
					<div class="footer-widget contact-widget">
						<div class="widget-title">
							<h3>Contacts</h3>
						</div>
						<div class="widget-content">
							<ul class="info-list clearfix">
								<li><a href="https://maps.app.goo.gl/ua15KsG7UcuBbr6V6" target="_blank"><i class="fas fa-map-marker-alt"></i>{{company.address}}</a></li>
								<li><a href="https://wa.me/+9779851316017" target="_blank"><i class="fab fa-whatsapp" style="font-size: 25px"></i>{{company.contact}}</a></li>
								<li><a href="mailto:{{company.email}}" target="_blank"><i class="fas fa-envelope"></i>{{company.email}}</a></li>
								<li><a href="tel:+977 015915493" target="_blank"><i class="fa fa-phone fa-rotate-90"></i>+977 015915493</a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div class="w-100 d-flex justify-content-center text-center">
					<aside id="nepamount_association_widget-5" class="col-md-12">
						<div class="footer-widget">
							<div class="widget-title">
								<h3>In Association With</h3>
							</div>
							<ul class="social-icons">
								<ul class="footsocial">
									<a target="_blank" class="footer-aslogo">
										<img style="width: 110px; height: 90px; object-fit: cover;" src="{% static 'assets/images/nepgov.png'%}" alt="">
									</a>
									<a target="_blank" class="footer-aslogo">
										<img style=" width: 110px; height: 90px; object-fit: cover;" src="{% static 'assets/images/ntb1.png'%}" alt="">
									</a>
									<a class="footer-aslogo">
										<img style=" width: 110px; height: 90px; object-fit: cover;" src="{% static 'assets/images/taan.png'%}" alt="">
									</a>
									<a class="footer-aslogo">
										<img style=" width: 110px; height: 90px; object-fit: cover;" src="{% static 'assets/images/nma1.png'%}" alt="">
									</a>
								</ul>
							</ul>
						</div>
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="bottom-inner clearfix">
				<div class="copyright pull-left">
					<p><a href="index.html">Goreto Trek</a> &copy; 2024 All Right Reserved</p>
				</div>
				<ul class="footer-nav pull-right">
					<li><a href="index.html">Terms of Service</a></li>
					<li><a href="index.html">Privacy Policy</a></li>
					<li><span>Made with <i class="fas fa-heart" style="color:red"></i></span> <a href="#" target="_blank">by Amrit Dhakal.</a> </li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Messenger Chat Plugin Code -->
	<div id="fb-root"></div>

	<!-- Your Chat Plugin code -->
	<div id="fb-customer-chat" class="fb-customerchat">
	</div>
</footer>
<!-- main-footer end -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
	<span class="fal fa-angle-up"></span>
</button>
</div>



<!-- jquery plugins -->
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/validation.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>
<script src="{% static 'assets/js/scrollbar.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>

{% comment %} 
<script src="Content/assets/js/jquery.js"></script>
<script src="Content/assets/js/popper.min.js"></script>
<script src="Content/assets/js/bootstrap.min.js"></script>
<script src="Content/assets/js/owl.js"></script>
<script src="Content/assets/js/wow.js"></script>
<script src="Content/assets/js/validation.js"></script>
<script src="Content/assets/js/jquery.fancybox.js"></script>
<script src="Content/assets/js/appear.js"></script>
<script src="Content/assets/js/scrollbar.js"></script>
<script src="Content/assets/js/jquery.nice-select.min.js"></script>
<script src="Content/assets/js/jquery-ui.js"></script> {% endcomment %}


<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
<script src="{% static 'assets/js/gmaps.js' %}"></script>
<script src="{% static 'assets/js/map-helper.js' %}"></script>


{% comment %} <script src="Content/assets/js/gmaps.js"></script>
<script src="Content/assets/js/map-helper.js"></script> {% endcomment %}

<!-- main-js -->
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'js/knockout-3.5.1.js' %}"></script>

<script src="{% static 'js/toastr.js' %}"></script>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.mim.js' %}"></script>


{% comment %} <script src="Content/assets/js/script.js"></script>
<script src="Content/js/knockout-3.5.1.js"></script>
<script src="Content/js/Techyatra.Globals.kof9e3.js?v=1.1"></script>
<script src="Content/js/toastr.js"></script> {% endcomment %}

<!-- Brought from america -->
<script src="../code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    {% comment %} function toggleChatbox() {
        var chatbox = document.getElementById('whatsapp-chatbox');
        chatbox.style.display = (chatbox.style.display === 'block') ? 'none' : 'block';
        if (chatbox.style.display === 'block') {
            appendMessage('Hello, how can I help you?');
        }
    } {% endcomment %}

	var messageAppended = false; // Flag to track if message is appended

function toggleChatbox() {
    var chatbox = document.getElementById('whatsapp-chatbox');
    if (chatbox.style.display === 'none') {
        chatbox.style.display = 'block';
        if (!messageAppended) {
            appendMessage('Hello, how can I help you?');
            messageAppended = true;
        }
    } else {
        chatbox.style.display = 'none';
    }
}
    function sendMessage() {
        var replyText = document.getElementById('whatsapp-reply').value;
        appendMessage(replyText);
        document.getElementById('whatsapp-reply').value = '';  // Clear the reply textarea
        // Redirect to WhatsApp with the replyText
        window.open('https://api.whatsapp.com/send?phone=+9779851316017&text=' + encodeURIComponent(replyText), '_blank');
    }

    function appendMessage(message) {
        var messagesDiv = document.getElementById('whatsapp-messages');
        var messageDiv = document.createElement('div');
        messageDiv.textContent = message;
        messagesDiv.appendChild(messageDiv);
        messagesDiv.scrollTop = messagesDiv.scrollHeight;  // Scroll to the bottom
    }
</script>


	
{% comment %} <script>
var chatbox = document.getElementById('fb-customer-chat');
chatbox.setAttribute("page_id", "139716102555319");
chatbox.setAttribute("attribution", "biz_inbox");
</script>
<!-- Your SDK code -->
<script>
window.fbAsyncInit = function () {
	FB.init({
		xfbml: true,
		version: 'v18.0'
	});
};

(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> {% endcomment %}
</body>
<!-- End of .page_wrapper -->



<!-- Code provided by Google -->
<div id="google_translate_element"></div>
<script type="text/javascript">
	function googleTranslateElementInit() {
		new google.translate.TranslateElement({
			pageLanguage: 'en', 
			includedLanguages: 'ar,en,es,fr,km,ru,sq,vi,zh-CN', 
			layout: google.translate.TranslateElement.InlineLayout.SIMPLE, 
			multilanguagePage: true, 
			gaTrack: true
		}, 'google_translate_element');
	}
	
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.menu-translate-header ul li a').click(function(event) {
			window.location = $(this).attr('href');
			location.reload();
		});
	});
</script>

	
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>

</html>

