{% extends 'base.html'%}
{%load static%}
{% block content%}


<section class="page-title centred" style="background-image: url({{blogs.image.url}});">
    <div class="auto-container">
        <div class="content-box">
            <p style="position:absolute"><a href="{% url 'index' %}" style="color: #ffffff; text-decoration: none;"
                onmouseover="this.style.color='#000000'"
                onmouseout="this.style.color='#ffffff'"> Home </a> / <a style='color:#ffffff;' href="{% url 'blogs' %}" style="color: #ffffff; text-decoration: none;"
                onmouseover="this.style.color='#000000'"
                onmouseout="this.style.color='#ffffff'"">Blogs</a> / Blog Details</p>
        </div>
    </div>

</section>

<section class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-details-content">
                    <div class="news-block-one">
                        <div class="inner-box">
                            <div class="lower-content">
                                {% comment %} <div class="category"><a href="blog-details.html">Travell</a></div> {% endcomment %}
                                <h2>{{blogs.title}}</h2>
                                {% comment %} <ul class="post-info clearfix">
                                    <li><span>By</span> <a href="index.html">Eva Green</a></li>
                                    <li>-</li>
                                    <li class="comment"><a href="blog-details.html">0 Comment</a></li>
                                </ul> {% endcomment %}
                            </div>
                            <figure class="image-box">
                                <img src="{{blogs.image.url}}" alt="">
                                <span class="post-date"><i class="icon-Calendar"></i>{{ blogs.created_at|date:"Y F d" }}</span>
                            </figure>
                        </div>
                    </div>
                    <div class="text">
                        
                        {% autoescape off %}
                            {{blogs.description}}
                        {% endautoescape %}
                    </div>
                    <div class="image-box clearfix">
                        <figure class="image"><img src="assets/images/resource/destination-1.jpg" alt=""></figure>
                        <figure class="image"><img src="assets/images/resource/destination-2.jpg" alt=""></figure>
                        <figure class="image"><img src="assets/images/resource/destination-3.jpg" alt=""></figure>
                    </div>
                    {% comment %} <div class="post-share-option clearfix">
                        <div class="text pull-left">
                            <h3>We Are Social On:</h3>
                        </div>
                        <ul class="social-links pull-right clearfix">
                            <li><a href="blog-details.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="blog-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="blog-details.html"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="blog-sidebar default-sidebar ml-20">
                    <div class="sidebar-widget post-widget">
                        <div class="widget-title">
                            <h3>Latest Blogs</h3>
                        </div>
                        <div class="post-inner">
                            {% for blog in vlogs %}
                            <div class="post">
                                <figure class="post-thumb"><a href="{% url 'blogs_details' blog.id %}"><img style="width: 90px;  height: 90px; border-radius: 50%;"src="{{blog.image.url}}" alt=""></a></figure>
                                <span class="post-date">{{ blog.created_at|date:"Y F d" }}</span>
                                <h4><a href="{% url 'blogs_details' blog.id %}">{{blog.title}}</a></h4>
                            </div>
                           {%endfor%}
                        </div>
                    </div>
                    <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/recommended-tripadvisor.png' %}" />
                                <h5 class="text-center"> <strong><a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank">Goreto Treks and Expedition</a></strong></h5>
                            </div>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/google.png' %}" alt="Google Recommendation" />
                                <h5 class="text-center">
                                    <strong>
                                        <a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.google.com/maps/place/Goreto+Treks+and+Expedition/@27.7298897,85.3012113,17z/data=!4m14!1m7!3m6!1s0x39eb19de17a79383:0x52118c7e3510d982!2sGoreto+Treks+and+Expedition!8m2!3d27.729885!4d85.3037862!16s%2Fg%2F11vcxt4mmt!3m5!1s0x39eb19de17a79383:0x52118c7e3510d982!8m2!3d27.729885!4d85.3037862!16s%2Fg%2F11vcxt4mmt?entry=ttu" target="_blank">
                                            Goreto Treks and Expedition 
                                        </a>
                                    </strong>
                                </h5>
                            </div>
                        </div>

                </div>
            </div>
                       
                    
        </div>
    </div>
</section>
{%endblock content%}