{% extends 'base.html'%}]
{%load static%}
{%block content%}
<!-- Page Title -->
<section class="page-title style-two centred" style="height: 200px; background-image: url({{company.home_image.url}});">
    <div class="auto-container">
      <div class="content-box">
          <h1>Blogs</h1>
          <p style="position:absolute"><a href="{% url 'index' %}" style="color: #ffffff; text-decoration: none;"
            onmouseover="this.style.color='#000000'"
            onmouseout="this.style.color='#ffffff'">Home</a> / Blogs </p>
      </div>
    </div>
  </section>
<!-- End Page Title -->



<!-- Blogs Section -->

<section class="sidebar-page-container" style="padding-top:100px">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-grid-content">
                    <div class="row clearfix">
                        {% for blog in blogs %}
                        <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                            <div class="news-block-one wow fadeInUp animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <a href="{% url 'blogs_details' blog.id %}"><img style="float: left; width: 500px; height: 250px; object-fit: cover;" src="{{blog.image.url}}" alt=""></a>
                                        <span class="post-date"><i class="icon-Calendar"></i>{{ blog.created_at|date:"Y-m-d" }}</span>
                                    </figure>
                                    <div class="lower-content">
                                        <div class="category"><a href="{% url 'blogs_details' blog.id %}">Travel</a></div>
                                        <h3><a href="{% url 'blogs_details' blog.id %}">{{blog.title}}</a></h3>
                                        <ul class="post-info clearfix">
                                            {% comment %} <li><span>By</span> <a href="index.html">Eva Green</a></li> {% endcomment %}
                                            {% comment %} <li> - October 20, 2020</li> {% endcomment %}
                                        </ul>
                                        {% autoescape off %}
                                            {{blog.description|wordwrap:"10"|slice:":150"}}...
                                        {% endautoescape %}
                                        <div class="btn-box">
                                            <a href="{% url 'blogs_details' blog.id %}" class="theme-btn-two">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="blog-sidebar default-sidebar ml-20">
                    <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/recommended-tripadvisor.png' %}" />
                                <h5 class="text-center"> <strong><a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank">Goreto Treks and Expedition</a></strong></h5>
                            </div>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/google.png' %}" alt="Google Recommendation" />
                                <h5 class="text-center">
                                    <strong>
                                        <a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.google.com/maps/place/Goreto+Treks+and+Expedition/@27.7298897,85.3012113,17z/data=!4m14!1m7!3m6!1s0x39eb19de17a79383:0x52118c7e3510d982!2sGoreto+Treks+and+Expedition!8m2!3d27.729885!4d85.3037862!16s%2Fg%2F11vcxt4mmt!3m5!1s0x39eb19de17a79383:0x52118c7e3510d982!8m2!3d27.729885!4d85.3037862!16s%2Fg%2F11vcxt4mmt?entry=ttu" target="_blank">
                                            Goreto Treks and Expedition 
                                        </a>
                                    </strong>
                                </h5>
                            </div>
                        </div>

                </div>
            </div>
                     
        </div>
    </div>
</section>




{%endblock content%}