{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .gallery-item {
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    width: calc(33.333% - 20px);
    flex: 1 0 calc(33.333% - 20px);
    max-width: 300px;
  }

  .gallery-item img {
    width: 100%;
    height: 100%; /* Make the image cover the container */
    object-fit: cover; /* Ensure the aspect ratio is maintained */
    display: block;
    transition: transform 0.3s ease;
  }

  .gallery-item:hover img {
    transform: scale(1.05);
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
  }

  .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .popup img {
    max-width: 90%;
    max-height: 90%;
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .gallery-item {
      width: 100%;
      max-width: none;
    }
  }
</style>

<section class="page-title style-two centred" style=" height: 200px; background-image: url({% static 'assets/images/gallary_pano.jpg' %}); " >
  <div class="auto-container">
      <div class="content-box">
          <p style="position:absolute">Home/Gallery</p>
          <h1>Gallery</h1>
      </div>
  </div>
</section>

<div class="gallery" onclick="openPopup(event)">
  {% for image in images %}
  <div class="gallery-item">
    <img src="{{ image.image.url }}" alt="">
  </div>
  {% endfor %}
</div>

<div id="popup" class="popup" onclick="closePopup()">
  <div class="popup-content">
    <img id="popup-image" src="" alt="">
  </div>
</div>

<script>
  function openPopup(event) {
    if (event.target.tagName === 'IMG') {
      var imageUrl = event.target.src;
      document.getElementById('popup-image').src = imageUrl;
      document.getElementById('popup').style.display = 'block';
      document.body.style.overflow = 'hidden';
    }
  }

  function closePopup() {
    document.getElementById('popup').style.display = 'none';
    document.body.style.overflow = 'auto';
  }
</script>

{% endblock content %}
