{% extends 'base.html' %}
{% block content %}

<!-- Page Title -->

<!-- Page Title -->

<section class="page-title centred" style="background-image: url({{country.image.url}}); ">
    <div class="auto-container">
        <div class="content-box">
            <h1>{{country.name}}</h1>
            <p>Where Culture Meets Mountains!</p>
            <p style="position:absolute">Home/Destination/{{country.name}}</p>
        </div>
    </div>
</section>
<!-- End Page Title -->

<!-- Gallary Sections -->

<section class="gallery-section">
    <div class="auto-container">
        <div class="row clearfix">
                {%for region in regions %}
                {% if region.destination_id == country.destination_id%}
                <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                    <div class="place-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img style="float: left; width: 500px; height: 250px; object-fit: cover;" src="{{region.image.url}}" alt=""></figure>
                            <div class="text">
                                <h3><a href="{% url 'tour_list' region.region_id%}">{{region.name}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                {% endfor %}            
        </div>
    </div>
</section>    
{% endblock content %}