{% extends 'base.html'%}
{%block content%}
{% load static %}
<!-- team-section -->
<section class="team-section sec-pad bg-color-1 centred">
    <div class="anim-icon">
        <div class="icon anim-icon-1" style="background-image: url({% static "assets/images/shape/shape-5.png" %});"></div>
        <div class="icon anim-icon-2" style="background-image: url({% static "assets/images/shape/shape-5.png)" %});"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title">
            <p>Our Team</p>
            <h2>Expert Tour Guides</h2>
        </div>
        <div class="row clearfix">
            {%for team in teams %}
                <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                    <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="{% url 'our_team_details'%}"><img style="width: 370px; height: 400px; object-fit: cover;" src="{{team.team_image.url}}" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="{% url 'our_team_details'%}">{{team.name}}</a></h3>
                                <span class="designation">{{team.position}}</span>
                                <ul class="social-links clearfix">
                                    <li><a href="{{team.facebook_link}}"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a  href="{{team.instagram_link}}"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}

        </div>
    </div>
</section>

<!-- team-section end -->
{%endblock content%}