{% extends 'base.html' %}
{% block content %}
<style>
    .review {
        display: flex;
        margin-bottom: 20px;
    }
    .review .image,
    .review .content {
        flex: 1;
    }
    .review .image img {
        max-width: 100%;
        height: auto;
    }
    .review .content {
        padding: 0 20px;
    }
    .review .content h2 {
        margin-top: 0;
    }
    .review .stars {
        color: #ffd700;
    }
    /* Adjustments for alternating layout */
    .review:nth-child(even) .image {
        order: 2;
    }
    .review:nth-child(even) .content {
        order: 1;
    }
</style>

<!-- Page Title -->
<section class="page-title style-two centred">
    <div class="auto-container">
        <div class="content-box">
            <h1>Message From Team Goreto</h1>
        </div>
    </div>
</section>
<!-- End Page Title -->
<div class="auto-container">
{% for team in teams %}
<div class="review text-center">
    <div class="image">
        <img style="width: 370px; height: 400px; object-fit: cover;" src="{{ team.team_image.url }}" alt="{{ team.name }}">
        <div class="sec-title text-center" >
            <h2>{{ team.name }}</h2>
            <h4>Travell Guide</h4>
        </div>
    </div>
    <div class="content">
        <p align="justify"> {{ team.message }}</p>
    </div>
</div>
<hr>
{% endfor %}
</div>
{% endblock content %}
