{% extends 'base.html'%}
{% block content%}
{% load static%}
<main>
            



    <script src="../../code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <style>
        .tour-details-content .inner-box .text .info-list li {
            position: relative;
            display: inline-block;
            float: left;
            width: 30%;
            font-size: 14px;
            font-weight: 515;
            text-align: left;
        }
    
            .tour-details-content .inner-box .text .info-list li i {
                padding-left: 3px !important;
            }
    
        .tour-details-content .overview-inner .overview-list > li:before {
            position: absolute;
            content: '';
            background: #e4e8e9;
            /*width: 1px;*/
            width: 0px;
            height: 100%;
            left: 285px;
            top: 0px;
        }
    </style>
    <!-- Page Title -->
    <section class="page-title style-three" style="background-image: url({{tour_details.image.url}}); ">
        <div class="auto-container">
            <div class="inner-box">
                <div class="rating"><span><i class="fas fa-star"></i>8.0  based on 133 reviews</span></div>
                <h2>{{tour_details.name}}</h2>
                <h3>{{tour_details.price}}$<span> / Per person</span></h3>
            </div>
        </div>
    </section>
    <!-- End Page Title -->
    <!-- tour-details -->
    <section class="tour-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="tour-details-content" id="overview">
                        <div class="inner-box">
                            <div class="text">
                                <h2>Overview</h2>
                                <p>{{tour_details.description}}</p>
                                <ul class="info-list clearfix">
                                    <li><i class="far fa-clock"></i>{{tour_details.days}}: Days</li>
                                    <li><i class="far fa-user"></i>Age: {{tour_details.age}}+</li>
                                    <li><i class="far fa-map"></i>Trip Grade: Moderate<i class="fa fa-question-circle text-secondary" data-toggle="popover" data-trigger="hover focus" data-content="Moderate or Grade B trips include 1 week to 18 days itinerary. It can reach up to 5000 meters altitude range, but the trails will be moderate (nor easy, nor tough). High altitude may matter on walking speed and distance. You need to have acclimatization over 3000 meters. " data-bs-original-title="" title="Moderate"></i></li>
                                    <li><i class="far fa-mountain"></i>Max. Altitude: {{tour_details.altitude}} </li>
                                    <li><i class="far fa-bus-school"></i>Transport: {{tour_details.transport}}</li>
                                    <li><i class="far fa-cloud-sun-rain"></i>Best Season:{{tour_details.season}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="overview-inner">
                            <ul class="overview-list clearfix">
                                <li><span>Destination:</span>{{tour_details.destination.name}}</li>
                                <li><span>Start/End:</span>{{tour_details.start_end}}</li>
                                <li><span>Departure Location:</span>{{tour_details.depature}}</li>
                                <li><span>Departure Time:</span>{{tour_details.time}}</li>
    
                                <li class="clearfix" id="include-exclude">
                                    <span>Included:</span>
                                    <ul class="included-list clearfix">
                                            <li>Hotel to Airport Pick up and Airport to Hotel Drop</li>
                                            <li>Domestic airport departure tax.</li>
                                            <li>First aid medical kit.</li>
                                    </ul>
                                </li>
                                <li class="clearfix">
                                    <span>Excluded:</span>
                                    <ul class="excluded-list clearfix">
                                            <li>Hot shower, WIFI, any electronic battery charges during only in trekking</li>
                                            <li>Optional - Breakfast about USD $40 per person</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tour-plan">
                            <div class="text">
                                <h2>Tour Plan / Itinary</h2>
                                
                            </div>
                            <div class="content-box" id="itinerary">
                                {% for itinary in itinaries %}
                                        {% if itinary.tour_id == tour_details.activity_id %}
                                            <div class="single-box">
                                                <span>{{ itinary.day }}</span>
                                                <h4>{{ itinary.start_end }}</h4>
                                                <h3>{{ itinary.name }}
                                                    <button class="toggle-btn" onclick="toggleParagraph('{{ itinary.itinary_id }}')">▼</button>
                                                </h3>
                                                <p align="justify" id="paragraph{{ itinary.itinary_id  }}" class="paragraph" style="display: none;">{{ itinary.description }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                

                                <div class="single-box">
                                        <span>01</span>
                                        <h4>Pokhara  830 m / 2,723 ft – 7hrs</h4>
                                        <h3>Day 1 Kathmandu to Pokhara (Drive)</h3>
                                        <p>We will collect you from your hotel and take you to the bus departure stop.  If you are traveling by air or private jeep, we will organize this for you.   Overnight in Pokhara at a hotel is included in the cost. Dinner, however, is not included in the package price. </p>
                                </div>
                            </div>
                        </div>
                        <div class="location-map">
                            <div class="text">
                                <h2>View On Map</h2>
                                <p>The Annapurna Base Camp Trek is situated in the Annapurna Sanctuary within the Annapurna Conservation Area of Nepal. Starting from Nayapul, this 10 day trek traverses picturesque villages like Ghorepani and Chhomrong, leading through lush forests, terraced fields, and bamboo groves. Trekkers are rewarded with a stunning sunrise at Poon Hill, panoramic vistas of the Annapurna and Dhaulagiri mountain ranges, and a close-up view of the Annapurna massif at an altitude of 4,130 meters at the base camp. The journey also offers relaxation in natural hot springs at Jhinu Danda. Proper permits are required, which can be arranged in Kathmandu or Pokhara for entry into the Annapurna Conservation Area.</p>
                            </div>
                            <div class="map-inner" id="map">
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=10xxqTVKlfTcli_NEBF3L4bUiiQM&amp;hl=en_US&amp;ehbc=2E312F" width="100%" height="600"></iframe>
                                    
                                </div>
                            </div>
                        </div>
    
                            <div class="photo-gallery" id="gallery" >
                                <div class="text">
                                    <h2>Photo Gallery</h2>
                                </div>
                                <div class="image-box clearfix">
                                    {%for image in images%}
                                    {% if image.tour_id == tour_details.activity_id%}
                                        <figure class="image" style="width:40%!important">
                                            <img style="float: left; width: 300px; height: 250px; object-fit: cover;" src="{{image.image.url}}" alt="ABC" loading="eager">
                                            <a href="{{image.image.url}}" class="view-btn lightbox-image" data-fancybox="gallery"><i class="icon-Plus"></i></a>
                                        </figure>
                                    {%endif%}
                                    {% endfor%}
                                </div>
                            </div>
                            <div class="faq-content" id="faq">
                                <div class="sec-title">
                                    <h2>Frequently Asked <br>Question</h2>
                                </div>
                                <ul class="accordion-box">
    
                                                <li class="accordion block active-block">
                                                    <div class="acc-btn active">
                                                        <div class="icon-outer"></div>
                                                        <h4>What is the best time for 10 Days Annapurna Base Camp Trek?</h4>
                                                    </div>
                                                    <div class="acc-content current">
                                                        <div class="text">
                                                            <p>Trekking to the Annapurna Base Camp is best done in the spring (March, April, and May), fall (September, October, and November), till mid-December. More specifically, October is considered as the ideal month to hike to the Annapurna Base Camp. The sky is clear, the weather is mostly constant, and the sights are spectacular. Additionally, the pleasant weather during these months adds to the full enjoyment of the journey.
    
    The trek is also achievable during winter as it offers dry air and clear views, but with the chances of snowfall and sub-zero temperatures. It makes for a quiet hike if you can withstand the cold. However, monsoon isn&#39;t recommended due to slippery paths and landslides.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>What are the essential trekking gears, and where do I get them?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>What to bring for the 10 days ABC Trek is one of the most important things to consider. Without the proper tools, getting about might be challenging. You can either bring the gear with you or shop them in Kathmandu. There are more than enough trekking gear shops in Thamel, and you will get a great deal.
    
    Here is a general idea of what you will need for your hike.
    *Hiking boots
    *Sandals/Crocs
    *Several sets of undergarments
    *Good quality down jacket and pants
    *Fleece jacket
    *Warm woolen clothes for the night</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Is there a power supply to charge my devices?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>You can recharge your phone and camera batteries at the teahouses by paying for energy. The service could be offered freely by the tea house where you spend the night. Since solar energy provides electricity, winter months present certain reliability issues. Having extra batteries or power banks on hand is typically a smart idea.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Do we need any acclimatization days to trek to Annapurna Base Camp in 10 days?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>As we will be starting our trek from a relatively lower altitude and gradually ascending to a higher altitude every day, there&#39;s no need for an acclimatization day during our 10 Days ABC trek. The maximum altitude we reach is only 4100 m which is quite low compared to EBC. In case you feel uneasy while trekking, you can inform the guide, and they will decide what&#39;s best for you and the group.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>How to prevent altitude sickness in the Himalayas?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Taking enough rest, eating well, and drinking plenty of fluids help you tackle Acute Mountain Sickness (AMS) or altitude sickness. There&#39;s not much risk of AMS in the 10 Days Annapurna Base Camp Trek, though.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>What happens if someone gets sick during the hike?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>In case someone feels unwell during the trek, the guide will evaluate the situation and let you know if they should continue with the trek or not. The rest of the group can carry on when someone from Outfitter Nepal takes care of the sick person. If the situation is serious, the patient will be airlifted to Pokhara or Kathmandu for proper medical treatment.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Do I need travel insurance for 10 Days Annapurna Base Camp Trek?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Yes, you need to get travel insurance for trekking to ABC. The Himalayas is full of surprises. You never know what&#39;s waiting for you. Travel insurance protects you from theft, natural disasters, and medical emergencies. Please get the insurance that covers helicopter rescue if required.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Is the Kathmandu – Pokhara – Kathmandu reliable?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Yes. It is a short 15-20 minutes flight that usually takes off on time. However, if the visibility is unclear, you might have to wait for the air to clear up. In case of any problems with the flights, we will arrange a luxury tourist bus for you that only takes 6-7 hours to reach Pokhara from Kathmandu. This, however, might slightly lengthen the trip.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Do I find any ATMs on the ABC trekking trail?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>No, you won&#39;t find any ATMs along the route of the ABC 10 days trek. The last place to find an ATM is Pokhara, so make sure you withdraw enough cash from either Kathmandu or Pokhara.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Is there an age limit to travel to Annapurna Base Camp in 10 days?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>No. People from any age group can go for the 10 Days Annapurna Base Camp Trek if they have the mental and physical fitness to withstand the rough Himalayan terrain.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Can I customize the trek itinerary?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Absolutely. We are more than happy to customize the trek for you if you book a private tour. Making changes to a group tour according to your preference is unfair to other trekkers in the group. We can customize the number of trip days, modes of transport, and accommodation in Kathmandu for you as per your requirement.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>Why choose Goreto Treks ?</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Since we have been in the industry for more than a decade, we are quite familiar with the expectations of trekkers. So, we go beyond our ways to turn those expectations into a reality. Your safety and satisfaction are our utmost priorities.
    
    While our knowledgeable English-speaking guides take care of you during the trek, we arrange all the permits so you can hike without any hassle.
    
    As part of our commitment to sustainable travel, we always try to reduce our carbon footprint as much as possible. We also help our local economy to flourish by hiring local guides and potters.
    
    Feel free to contact us via mail or Whatsapp if you have questions about our services. We&#39;re available to you at all times. See you in Nepal!</p>
                                                        </div>
                                                    </div>
                                                </li>
    
    
                                </ul>
                            </div>

                        <div class="comment-box mt-5">
                            <div class="text">
                                <h2>Similar Trips</h2>
                                <p>Goreto provides wide varities of travell options.</p>
                               
                            </div>
                            <form method="post" class="comment-form" id="comment-form">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="name" placeholder="Your Name" required="" id="commentName">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email Address" required="" id="commentEmail">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="review" placeholder="Review Title" required="" id="commentTitle">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Write Message" id="commentMessage"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group g-recaptcha" data-sitekey="6LfrFKQUAAAAAMzFobDZ7ZWy982lDxeps8cd1I2i">
    
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button type="submit" class="theme-btn">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <style>
                            .booking-sticky {
                                z-index: 10;
                                opacity: 1;
                                animation-iteration-count: 1;
                                position: fixed;
                            }
                        </style>
    
                    <div class="default-sidebar tour-sidebar ml-20 booking-sticky">
                        <div class="form-widget">
                            <div class="widget-title">
                                <h3>Book This Tour</h3>
                            </div>
                            <form method="POST" class="tour-form">
                                {% csrf_token %}

                                <div class="form-group">
                                    
                                    {{booking_form.username}}
                                </div>
                                <div class="form-group">
                                    
                                    {{booking_form.email}}
                                </div>
                                <div class="form-group">
                                   
                                    {{booking_form.phone}}
                                </div>
                                <div class="form-group">
                                    {% comment %} <input type="text" name="date" placeholder="dd/mm/yy" id="datepicker"> {% endcomment %}
                                    {{booking_form.date}}
                                </div>
                                <div class="form-group">
                                   
                                    {{booking_form.message}}
                                </div>
                                <div class="form-group g-recaptcha" data-sitekey="6LfrFKQUAAAAAMzFobDZ7ZWy982lDxeps8cd1I2i">
    
                                </div>
                                <div class="form-group message-btn">
                                    <button type="submit" class="theme-btn" name="booking_form_submit">Book Tour</button>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3>Downloads</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="download-links clearfix">
                                    <li><a>Attachment not found</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/recommended-tripadvisor.png' %}" />
                                <h5 class="text-center"> <strong><a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank">Goreto Treks and Expedition</a></strong></h5>
                            </div>
                        </div>
                        {% comment %} sticky inquery form {% endcomment %}
                        
                    
                        {% comment %} sticky inquery form {% endcomment %}
                    </div>
                
                </div>
            </div>
        </div>
    </section>

     <div id="fixed-bar">
        <button onclick="scrollToSection('overview')">Overview</button>
        <button onclick="scrollToSection('gallery')">Gallery</button>
        <button onclick="scrollToSection('map')">Map</button>
        <button onclick="scrollToSection('faq')">FAQ</button>
        <button onclick="scrollToSection('itinerary')">Itinerary</button>
        <button onclick="scrollToSection('include-exclude')">Include/Exclude</button>
    </div> 
{% comment %} booking Card {% endcomment %}
<div class="card" id="bookingCard">
    <!-- Your booking card content goes here -->
    <h2>Make an Inquiry</h2>
    <form method='POST'>
        {% csrf_token %}
        <label for="name">Name:</label>
        {{inquiry_form.username}}
        <label for="email">Email:</label>
        {{inquiry_form.email}}
        <label for="destination">Message:</label>
        {{inquiry_form.message}}
        <div class="form-group g-recaptcha" data-sitekey="6LfrFKQUAAAAAMzFobDZ7ZWy982lDxeps8cd1I2i">
        
        </div>
        <button type="submit" name ="inquiry_form_submit">Send</button>
    </form>
</div>
{% comment %} booking Card {% endcomment %}
<style>
    .card {
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
      }
      
      .card h2 {
        margin-top: 0;
      }
      
      .card form {
        display: flex;
        flex-direction: column;
      }
      
      .card label {
        margin-bottom: 5px;
      }
      
      .card input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .card button {
        padding: 10px;
        background-color: #072063;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .card button:hover {
        background-color: #0056b3;
      }
</style>


    <style>
        
        /* Style for the fixed bar */
        #fixed-bar {
            position: fixed; 
            top: 50vh; /* Adjusted position */
            right: 1px;
            transform: translateY(-50%);
            display: none; /* Initially hidden */
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 10px;
            {% comment %} background-color: rgba(0, 0, 0, 0.7); {% endcomment %}
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 2; 
        }
        #fixed-bar button {
            background-color: #072063;
            color: white;
            border: none;
            padding: 2px 2px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        #fixed-bar button:hover {
            background-color: #2980b9;
        }
        
    </style> 
   <script>
        window.addEventListener('scroll', function() {
            const fixedBar = document.getElementById('fixed-bar');
            if (window.scrollY > window.innerHeight * 0.5) {
                fixedBar.style.display = 'flex'; // Display the fixed bar
            } else {
                fixedBar.style.display = 'none'; // Hide the fixed bar
            }
        });
    
        // Function to scroll to a specific section
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    {% comment %} Booking card {% endcomment %}
    <script>
        window.addEventListener('scroll', function() {
          var bookingCard = document.getElementById('bookingCard');
          var footer = document.getElementById('leg'); // Assuming you have a footer with the id 'footer'
          var scrollPosition = window.pageYOffset;
          var windowHeight = window.innerHeight;
          var footerOffset = footer.offsetTop;
      
          // Hide the entire section on smaller devices
          if (window.innerWidth <= 768) { // Adjust the width as needed for tablet devices
            bookingCard.style.display = 'none';
            return;
          }
      
          // Show or hide the booking card based on scroll position
          if (scrollPosition > windowHeight * 2.55 && scrollPosition < footerOffset - windowHeight) {
            bookingCard.style.display = 'flex'; // Display the booking card
          } else {
            bookingCard.style.display = 'none'; // Hide the booking card
          }
        });
      </script>
      
    
      {% comment %} Booking card {% endcomment %}
  
<script>
    function toggleParagraph(itinaryId) {
        var paragraph = document.getElementById("paragraph" + itinaryId);
        console.log("Paragraph ID:", itinaryId);
        if (paragraph) {
            paragraph.style.display = paragraph.style.display === "none" ? "block" : "none";
        } else {
            console.error("Paragraph not found with ID:", itinaryId);
        }
    }
</script>
    <script>
        // Function to scroll to a specific section
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>
    <!-- tour-details end -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        var accommodation;
        var transport;
        var comfort;
        var food;
        var hospitality;
    
        function setRatingCss(element) {
            var letter = element.id.charAt(0);
            var number = element.id.substr(1);
            switch (letter) {
                case "A":
                    accommodation = number;
                    break;
                case "T":
                    transport = number;
                    break;
                case "C":
                    comfort = number;
                    break;
                case "F":
                    food = number;
                    break;
                case "H":
                    hospitality = number;
                    break;
                default:
            }
    
            var starId = element.id;
    
            // Check if the clicked star already has the 'fas' class
            var isSolid = element.classList.contains('fas');
    
            // Loop through all stars (A1 to A5)
            for (var i = 1; i <= 5; i++) {
                var star = document.getElementById(letter + i);
    
                // Check if the current star is less than or equal to the clicked star
                if (star.id <= starId) {
                    // Toggle the CSS class between 'far' and 'fas' based on the current state
                    star.classList.toggle('far', isSolid);
                    star.classList.toggle('fas', !isSolid);
                } else {
                    // Change the CSS class back to "far" for stars greater than the clicked star
                    star.classList.remove('fas');
                    star.classList.add('far');
                }
            }
        }
    
    
        let isFormSubmitting = false;
    
        document.getElementById("comment-form").addEventListener("submit", function (evt) {
            evt.preventDefault(); // Prevent the default form submission
    
            if (isFormSubmitting) {
                // If the form is already being submitted, do nothing
                return;
            }
            debugger;
            const commentName = document.getElementById("commentName").value;
            const commentEmail = document.getElementById("commentEmail").value;
            const commentTitle = document.getElementById("commentTitle").value;
            const commentMessage = document.getElementById("commentMessage").value;
            if (commentName == "") {
                return Techyatra.UI.Toast("Please enter name: ", 1);
            } else if (commentEmail == "") {
                return Techyatra.UI.Toast("Please enter email: ", 1);
            } else if (commentTitle == "") {
                return Techyatra.UI.Toast("Please enter title: ", 1);
            } else if (commentMessage == "") {
                return Techyatra.UI.Toast("Please enter message: ", 1);
            }
            else if (accommodation == undefined || transport == undefined || comfort == undefined || food == undefined || hospitality == undefined) {
                return Techyatra.UI.Toast("Please click star to give comment", 1);
            }
            else {
                var response = grecaptcha.getResponse();
                if (response.length == 0) {
                    // reCaptcha not verified
                    Techyatra.UI.Toast("Please verify you are human!");
                } else {
                    let data = {
                        Name: commentName,
                        Email: commentEmail,
                        ReviewTitle: commentTitle,
                        TourId: '1039',
                        Accommodation: accommodation,
                        Transport: transport,
                        Comfort: comfort,
                        Food: food,
                        Hospitality: hospitality,
                    };
                    isFormSubmitting = true;
                    subbmitTourComment(data);
                }
            }
        });
    
        function subbmitTourComment(data) {
            $.ajax({
                type: "POST",
                url: "/Chomolungma/TourComment",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    Techyatra.UI.Toast(response.message, 4);
    
                },
                error: function (error) {
                    Techyatra.UI.Toast("Error sending data: " + error, 1);
                },
                complete: function () {
                    // Reset the form submission flag after the AJAX request is complete
                    isFormSubmitting = false;
                    resetCommentForm();
                }
            });
        };
    
        function resetCommentForm() {
            document.getElementById("commentName").value = '';
            document.getElementById("commentEmail").value = '';
            document.getElementById("commentTitle").value = '';
            document.getElementById("commentMessage").value = '';
            setTimeout(function () {
                // Reload the page
                location.reload();
            }, 3000);
        };
    </script>
    
    
            </main>
    
{%endblock content%}