{% extends 'base.html'%}
{% block content%}
{% load static%}
<main>
            



    <script src="../../code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <style>
        .tour-details-content .inner-box .text .info-list li {
            position: relative;
            display: inline-block;
            float: left;
            width: 30%;
            font-size: 14px;
            font-weight: 515;
            text-align: left;
        }
    
            .tour-details-content .inner-box .text .info-list li i {
                padding-left: 3px !important;
            }
    
        .tour-details-content .overview-inner .overview-list > li:before {
            position: absolute;
            content: '';
            background: #e4e8e9;
            /*width: 1px;*/
            width: 0px;
            height: 100%;
            left: 285px;
            top: 0px;
        }
    </style>
    <!-- Page Title -->
    <section class="page-title style-three" style="background-image: url({{tour_details.image.url}}); ">
        <div class="auto-container">
            <div class="inner-box">
                <div class="rating"><span><i class="fas fa-star"></i>8.0  based on 133 reviews</span></div>
                <h2>{{tour_details.name}}</h2>
                <h3>{{tour_details.price}}$<span> / Per person</span></h3>
            </div>
        </div>
    </section>
    <!-- End Page Title -->
    <!-- tour-details -->
    <section class="tour-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="tour-details-content" id="overview">
                        <div class="inner-box">
                            <div class="text">
                                <h2>Overview</h2>
                                {% autoescape off %}
                                {{tour_details.description}}
                                {% endautoescape %}
                                {% comment %} <p>{{tour_details.description}}</p> {% endcomment %}
                                <ul class="info-list clearfix">
                                    <li><i class="far fa-clock"></i>{{tour_details.days}}: Days</li>
                                    <li><i class="far fa-user"></i>Age: {{tour_details.age}}+</li>
                                    <li><i class="far fa-map"></i>Trip Grade: Moderate<i class="fa fa-question-circle text-secondary" data-toggle="popover" data-trigger="hover focus" data-content="Moderate or Grade B trips include 1 week to 18 days itinerary. It can reach up to 5000 meters altitude range, but the trails will be moderate (nor easy, nor tough). High altitude may matter on walking speed and distance. You need to have acclimatization over 3000 meters. " data-bs-original-title="" title="Moderate"></i></li>
                                    <li><i class="far fa-mountain"></i>Max. Altitude: {{tour_details.altitude}} </li>
                                    <li><i class="far fa-bus-school"></i>Transport: {{tour_details.transport}}</li>
                                    <li><i class="far fa-cloud-sun-rain"></i>Best Season:{{tour_details.season}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="overview-inner">
                            <ul class="overview-list clearfix">
                                <li><span>Destination:</span>{{tour_details.destination.name}}</li>
                                <li><span>Start/End:</span>{{tour_details.start_end}}</li>
                                <li><span>Departure Location:</span>{{tour_details.depature}}</li>
                                <li><span>Departure Time:</span>{{tour_details.time}}</li>
    
                                <li class="clearfix" id="include-exclude">
                                    <span>Included:</span>
                                    <ul class="included-list clearfix">
                                        {% for inc_exc in inc_excs %}
                                            {%if inc_exc.is_included is True %}
                                                <li>{{inc_exc.sentence.name}}</li>
                                                
                                            {%endif%}
                                        {%endfor%}
                                    </ul>
                                </li>
                                <li class="clearfix" id="include-exclude">
                                    <span>Excluded:</span>
                                    <ul class="excluded-list clearfix">
                                    {% for inc_exc in inc_excs %}
                                        {%if inc_exc.is_included is False %}
                                        <li>{{inc_exc.sentence.name}}</li>
                                                
                                        {%endif%}
                                    {%endfor%}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tour-plan">
                            <div class="text">
                                <h2>Tour Plan / Itinary</h2>
                                
                            </div>
                            <div class="content-box" id="itinerary">
                                {% for itinary in itinaries %}
                                        {% if itinary.tour_id == tour_details.activity_id %}
                                            <div class="single-box">
                                                <span>{{ itinary.day }}</span>
                                                <h4>{{ itinary.start_end }}</h4>
                                                <h3>{{ itinary.name }}
                                                        <button class="toggle-btn" onclick="toggleParagraph('{{ itinary.itinary_id }}')">▼</button>
                                                </h3>
                                            </div>
                                                {% autoescape off %} <div align="justify" id="paragraph{{ itinary.itinary_id }}" class="paragraph" style="display: none;"> {{ itinary.description}}</div> {% endautoescape %}
                                                
                                            
                                        {% endif %}
                                    {% endfor %}
                                
                            </div>
                        </div>
                        <div class="location-map">
                            <div class="text">
                                <h2>View On Map</h2>
                                <p>The Annapurna Base Camp Trek is situated in the Annapurna Sanctuary within the Annapurna Conservation Area of Nepal. Starting from Nayapul, this 10 day trek traverses picturesque villages like Ghorepani and Chhomrong, leading through lush forests, terraced fields, and bamboo groves. Trekkers are rewarded with a stunning sunrise at Poon Hill, panoramic vistas of the Annapurna and Dhaulagiri mountain ranges, and a close-up view of the Annapurna massif at an altitude of 4,130 meters at the base camp. The journey also offers relaxation in natural hot springs at Jhinu Danda. Proper permits are required, which can be arranged in Kathmandu or Pokhara for entry into the Annapurna Conservation Area.</p>
                            </div>
                            <div class="map-inner" id="map">
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=10xxqTVKlfTcli_NEBF3L4bUiiQM&amp;hl=en_US&amp;ehbc=2E312F" width="100%" height="600"></iframe>
                                    
                                </div>
                            </div>
                        </div>
    
                            <div class="photo-gallery" id="gallery" >
                                <div class="text">
                                    <h2>Photo Gallery</h2>
                                </div>
                                <div class="image-box clearfix">
                                    {%for image in images%}
                                    {% if image.tour_id == tour_details.activity_id%}
                                        <figure class="image" style="width:40%!important">
                                            <img style="float: left; width: 300px; height: 250px; object-fit: cover;" src="{{image.image.url}}" alt="ABC" loading="eager">
                                            <a href="{{image.image.url}}" class="view-btn lightbox-image" data-fancybox="gallery"><i class="icon-Plus"></i></a>
                                        </figure>
                                    {%endif%}
                                    {% endfor%}
                                </div>
                            </div>
                            <div class="faq-content" id="faq">
                                <div class="sec-title">
                                    <h2>Frequently Asked <br>Question</h2>
                                </div>
                                <ul class="accordion-box">
    
                                    {%for faq in faqs%}
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-outer"></div>
                                                        <h4>{{faq.question.question}}</h4>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>{{faq.question.answer}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                    {%endfor%}
                                                
                                </ul>
                            </div>

                        <div class="comment-box mt-5">
                            <div class="text">
                                <h2>Similar Trips</h2>
                                <div class="wrapper grid">
                                    <div class="tour-grid-content">
                                        <div class="row clearfix">
                                            {%for trekking in similar_trips %}
                                                <div class="col-lg-6 col-md-6 col-sm-12 tour-block">
                                                    <div class="tour-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                                        <div class="inner-box">
                                                            
                                                            <figure class="image-box">
                                                                <img style="float: left; width: 500px; height: 250px; object-fit: cover;" src="{{trekking.image.url}}" alt="10 Days Annapurna Base Camp Trek">
                                                                <div class="bottom-left">
                                                                </div>
                                                                <div class="bottom-right">
                                                                    <h5 class="middleclass"><i class="far fa-clock"></i> {{trekking.days}} Day</h5>
                                                                </div>
                                                                <a href="{% url 'tour_details' trekking.activity_id %}"><i class="fas fa-link"></i></a>
                                                                <div class="price-overlay">Starting From {{trekking.price}}
                                    
                                                                </div>
                                                            </figure>
                                                            
                                                            <style>
                                                                .price-overlay {
                                                                    position: absolute;
                                                                    top: 0;
                                                                    left: 0;
                                                                    width: 100%;
                                                                    height: 100%;
                                                                    {% comment %} background-color: rgba(0, 0, 0, 0.5); {% endcomment %}
                                                                    color: white;
                                                                    font-size: 24px;
                                                                    text-align: center;
                                                                    line-height: 250px; /* Adjust based on image height */
                                                                    opacity: 0;
                                                                    transition: opacity 0.3s;
                                                                }
                                                            
                                                                .image-box:hover .price-overlay {
                                                                    opacity: 1;
                                                                }
                                                                <style>
                                                                    .tour-block-one .inner-box .lower-content .info li {
                                                                        position: relative;
                                                                        float: left;
                                                                        display: inline-block;
                                                                        font-size: 13px;
                                                                        color: #808080;
                                                                        font-weight: 500;
                                                                        padding-left: 24px;
                                                                        margin-right: 35px;
                                                                    }
                                                                
                                                                    .tour-block-one .inner-box .lower-content h3 {
                                                                        display: block;
                                                                        font-size: 18px;
                                                                        line-height: 30px;
                                                                        font-weight: 700;
                                                                        margin-bottom: 5px;
                                                                    }
                                                                    
                                                                    .bottom-right {
                                                                        position: absolute;
                                                                        bottom: 8px;
                                                                        right: 16px;
                                                                            
                                                                    }
                                                                    .middleclass{
                                                                        font-family: 'Work Sans', sans-serif;
                                                                        font-weight: 500;
                                                                        opacity: 1;
                                                                        color: #fff;
                                                                        z-index:1;
                                                                    }
                                                                    .bottom-left {
                                                                        position: absolute;
                                                                        bottom: 8px;
                                                                        left: 16px;
                                                                        
                                                                      }
                                                                      .bottom-left .rating{
                                                                        color: #ffab01;
                                                                      }
                                                                </style>
                                                                
                                                            </style>
                                                            <div class="lower-content">
                                                               
                                                                <h3></i> <a href="{% url 'tour_details' trekking.activity_id %}">{{trekking.name}}</a></h3>
                                                                {% comment %} <h4>{{tour.price}}$<span> / Per person</span> <del>{{tour.max_price}}$</del> </h4> {% endcomment %}
                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <style>
                            .booking-sticky {
                                z-index: 10;
                                opacity: 1;
                                animation-iteration-count: 1;
                                position: fixed;
                            }
                        </style>
    
                    <div class="default-sidebar tour-sidebar ml-20 booking-sticky">
                        <div class="form-widget">
                            <div class="widget-title">
                                <h3>Book This Tour</h3>
                            </div>
                            <form method="POST" class="tour-form">
                                {% csrf_token %}

                                <div class="form-group">
                                    
                                    {{booking_form.username}}
                                </div>
                                <div class="form-group">
                                    
                                    {{booking_form.email}}
                                </div>
                                <div class="form-group">
                                   
                                    {{booking_form.phone}}
                                </div>
                                <div class="form-group">
                                    {% comment %} <input type="text" name="date" placeholder="dd/mm/yy" id="datepicker"> {% endcomment %}
                                    {{booking_form.date}}
                                </div>
                                <div class="form-group">
                                   
                                    {{booking_form.message}}
                                </div>
                                <div class="form-group g-recaptcha" data-sitekey="6LfrFKQUAAAAAMzFobDZ7ZWy982lDxeps8cd1I2i">
    
                                </div>
                                <div class="form-group message-btn">
                                    <button type="submit" class="theme-btn" name="booking_form_submit">Book Tour</button>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3>Downloads</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="download-links clearfix">
                                    <li><a>Attachment not found</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget downloads-widget">
                            <div class="widget-title">
                                <h3 class="text-center" style="color:#ff7c5b">WE ARE RECOMMENDED ON </h3>
                            </div>
                            <div class="widget-content">
                                <img src="{% static 'assets/images/recommended-tripadvisor.png' %}" />
                                <h5 class="text-center"> <strong><a style="color:black" onMouseOver="this.style.color='#000000'" onMouseOut="this.style.color='#000000'" href="https://www.tripadvisor.com/Attraction_Review-g293890-d15755650-Reviews-Goreto_Treks-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html" target="_blank">Goreto Treks and Expedition</a></strong></h5>
                            </div>
                        </div>
                        {% comment %} sticky inquery form {% endcomment %}
                        
                    
                        {% comment %} sticky inquery form {% endcomment %}
                    </div>
                
                </div>
            </div>
        </div>
    </section>

     <div id="fixed-bar">
        <button onclick="scrollToSection('overview')">Overview</button>
        <button onclick="scrollToSection('gallery')">Gallery</button>
        <button onclick="scrollToSection('map')">Map</button>
        <button onclick="scrollToSection('faq')">FAQ</button>
        <button onclick="scrollToSection('itinerary')">Itinerary</button>
        <button onclick="scrollToSection('include-exclude')">Include/Exclude</button>
    </div> 
{% comment %} booking Card {% endcomment %}
<div class="card" id="bookingCard">
    <!-- Your booking card content goes here -->
    <h2>Make an Inquiry</h2>
    <form method='POST'>
        {% csrf_token %}
        <label for="name">Name:</label>
        {{inquiry_form.username}}
        <label for="email">Email:</label>
        {{inquiry_form.email}}
        <label for="destination">Message:</label>
        {{inquiry_form.message}}
        <div class="form-group g-recaptcha" data-sitekey="6LfrFKQUAAAAAMzFobDZ7ZWy982lDxeps8cd1I2i">
        
        </div>
        <button type="submit" name ="inquiry_form_submit">Send</button>
    </form>
</div>
{% comment %} booking Card {% endcomment %}
<style>
    .card {
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
      }
      
      .card h2 {
        margin-top: 0;
      }
      
      .card form {
        display: flex;
        flex-direction: column;
      }
      
      .card label {
        margin-bottom: 5px;
      }
      
      .card input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .card button {
        padding: 10px;
        background-color: #072063;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .card button:hover {
        background-color: #0056b3;
      }
</style>


<style>
    /* Style for the fixed bar */
    #fixed-bar {
        position: fixed; 
        top: 50vh; /* Adjusted position */
        right: 1px;
        transform: translateY(-50%);
        display: none; /* Initially hidden */
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 2; 
    }
    #fixed-bar button {
        background-color: #072063;
        color: white;
        border: none;
        padding: 2px 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    #fixed-bar button:hover {
        background-color: #2980b9;
    }

    /* Media query for mobile devices */
    @media (max-width: 768px) {
        #fixed-bar {
            display: none; /* Hide the fixed bar on smaller screens */
        }
    }
</style>

   <script>
        window.addEventListener('scroll', function() {
            const fixedBar = document.getElementById('fixed-bar');
            if (window.scrollY > window.innerHeight * 0.5) {
                fixedBar.style.display = 'flex'; // Display the fixed bar
            } else {
                fixedBar.style.display = 'none'; // Hide the fixed bar
            }
        });
    
        // Function to scroll to a specific section
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    {% comment %} Booking card {% endcomment %}
    <script>
        window.addEventListener('scroll', function() {
          var bookingCard = document.getElementById('bookingCard');
          var footer = document.getElementById('leg'); // Assuming you have a footer with the id 'footer'
          var scrollPosition = window.pageYOffset;
          var windowHeight = window.innerHeight;
          var footerOffset = footer.offsetTop;
      
          // Hide the entire section on smaller devices
          if (window.innerWidth <= 768) { // Adjust the width as needed for tablet devices
            bookingCard.style.display = 'none';
            return;
          }
      
          // Show or hide the booking card based on scroll position
          if (scrollPosition > windowHeight * 2.55 && scrollPosition < footerOffset - windowHeight) {
            bookingCard.style.display = 'flex'; // Display the booking card
          } else {
            bookingCard.style.display = 'none'; // Hide the booking card
          }
        });
      </script>
      
    
      {% comment %} Booking card {% endcomment %}
  
<script>
    function toggleParagraph(itinaryId) {
        var paragraph = document.getElementById("paragraph" + itinaryId);
        console.log("Paragraph ID:", itinaryId);
        if (paragraph) {
            paragraph.style.display = paragraph.style.display === "none" ? "block" : "none";
        } else {
            console.error("Paragraph not found with ID:", itinaryId);
        }
    }
</script>
    <script>
        // Function to scroll to a specific section
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>
    <!-- tour-details end -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        var accommodation;
        var transport;
        var comfort;
        var food;
        var hospitality;
    
        function setRatingCss(element) {
            var letter = element.id.charAt(0);
            var number = element.id.substr(1);
            switch (letter) {
                case "A":
                    accommodation = number;
                    break;
                case "T":
                    transport = number;
                    break;
                case "C":
                    comfort = number;
                    break;
                case "F":
                    food = number;
                    break;
                case "H":
                    hospitality = number;
                    break;
                default:
            }
    
            var starId = element.id;
    
            // Check if the clicked star already has the 'fas' class
            var isSolid = element.classList.contains('fas');
    
            // Loop through all stars (A1 to A5)
            for (var i = 1; i <= 5; i++) {
                var star = document.getElementById(letter + i);
    
                // Check if the current star is less than or equal to the clicked star
                if (star.id <= starId) {
                    // Toggle the CSS class between 'far' and 'fas' based on the current state
                    star.classList.toggle('far', isSolid);
                    star.classList.toggle('fas', !isSolid);
                } else {
                    // Change the CSS class back to "far" for stars greater than the clicked star
                    star.classList.remove('fas');
                    star.classList.add('far');
                }
            }
        }
    
    
        let isFormSubmitting = false;
    
        document.getElementById("comment-form").addEventListener("submit", function (evt) {
            evt.preventDefault(); // Prevent the default form submission
    
            if (isFormSubmitting) {
                // If the form is already being submitted, do nothing
                return;
            }
            debugger;
            const commentName = document.getElementById("commentName").value;
            const commentEmail = document.getElementById("commentEmail").value;
            const commentTitle = document.getElementById("commentTitle").value;
            const commentMessage = document.getElementById("commentMessage").value;
            if (commentName == "") {
                return Techyatra.UI.Toast("Please enter name: ", 1);
            } else if (commentEmail == "") {
                return Techyatra.UI.Toast("Please enter email: ", 1);
            } else if (commentTitle == "") {
                return Techyatra.UI.Toast("Please enter title: ", 1);
            } else if (commentMessage == "") {
                return Techyatra.UI.Toast("Please enter message: ", 1);
            }
            else if (accommodation == undefined || transport == undefined || comfort == undefined || food == undefined || hospitality == undefined) {
                return Techyatra.UI.Toast("Please click star to give comment", 1);
            }
            else {
                var response = grecaptcha.getResponse();
                if (response.length == 0) {
                    // reCaptcha not verified
                    Techyatra.UI.Toast("Please verify you are human!");
                } else {
                    let data = {
                        Name: commentName,
                        Email: commentEmail,
                        ReviewTitle: commentTitle,
                        TourId: '1039',
                        Accommodation: accommodation,
                        Transport: transport,
                        Comfort: comfort,
                        Food: food,
                        Hospitality: hospitality,
                    };
                    isFormSubmitting = true;
                    subbmitTourComment(data);
                }
            }
        });
    
        function subbmitTourComment(data) {
            $.ajax({
                type: "POST",
                url: "/Chomolungma/TourComment",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    Techyatra.UI.Toast(response.message, 4);
    
                },
                error: function (error) {
                    Techyatra.UI.Toast("Error sending data: " + error, 1);
                },
                complete: function () {
                    // Reset the form submission flag after the AJAX request is complete
                    isFormSubmitting = false;
                    resetCommentForm();
                }
            });
        };
    
        function resetCommentForm() {
            document.getElementById("commentName").value = '';
            document.getElementById("commentEmail").value = '';
            document.getElementById("commentTitle").value = '';
            document.getElementById("commentMessage").value = '';
            setTimeout(function () {
                // Reload the page
                location.reload();
            }, 3000);
        };
    </script>
    
    
            </main>
    
{%endblock content%}