{% extends 'base.html' %}
{% block content %}
{%load static%}

<!-- Page Title -->

<!-- Page Title -->

<section class="page-title centred" style="background-image: url({{company.home_image.url}}); ">
    <div class="auto-container">
        <div class="content-box">
            <h1>Trekkings</h1>
            <p>Get Ready For Adventure</p>
            <p style="position:absolute">Home/Trekking</p>
        </div>
    </div>
</section>
<!-- End Page Title -->

<section class="tour-section sec-pad">
    <div class="auto-container">
            <div class="row clearfix">
                {%for trekking in trekkings %}
                <div class="col-lg-4 col-md-6 col-sm-12 tour-block">
                    <div class="tour-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            
                            <figure class="image-box">
                                <img style="float: left; width: 500px; height: 250px; object-fit: cover;" src="{{trekking.image.url}}" alt="10 Days Annapurna Base Camp Trek">
                                <div class="bottom-left">
                                    <div class="rating">
                                        <span class="middleclass"><i class="fas fa-star"></i>5 based on 133 reviews</span>
                                    </div>
                                </div>
                                <div class="bottom-right">
                                    <h5 class="middleclass"><i class="far fa-clock"></i> {{trekking.days}} Day</h5>
                                </div>
                                <a href="{% url 'tour_details' trekking.activity_id %}"><i class="fas fa-link"></i></a>
                                <div class="price-overlay">Starting From {{trekking.price}}
    
                                </div>
                            </figure>
                            
                            <style>
                                .price-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    {% comment %} background-color: rgba(0, 0, 0, 0.5); {% endcomment %}
                                    color: white;
                                    font-size: 24px;
                                    text-align: center;
                                    line-height: 250px; /* Adjust based on image height */
                                    opacity: 0;
                                    transition: opacity 0.3s;
                                }
                            
                                .image-box:hover .price-overlay {
                                    opacity: 1;
                                }
                            </style>
                            <div class="lower-content">
                               
                                <h3><i class="fas fa-map-marker-alt"></i> <a href="{% url 'tour_details' trekking.activity_id %}">{{trekking.name}}</a></h3>
                                {% comment %} <h4>{{tour.price}}$<span> / Per person</span> <del>{{tour.max_price}}$</del> </h4> {% endcomment %}
                                <ul class="info clearfix">
                                    <li><i class="far fa-mountain"></i>{{trekking.altitude}}</li>
                                    <li><i class="far fa-map"></i>Trip Grade:<a href="#" style="cursor:pointer" data-toggle="popover" data-trigger="hover focus" data-content="Moderate or Grade B trips include 1 week to 18 days itinerary. It can reach up to 5000 meters altitude range, but the trails will be moderate (nor easy, nor tough). High altitude may matter on walking speed and distance. You need to have acclimatization over 3000 meters. " data-bs-original-title="" title="Moderate">Moderate</a>  </li>
                                </ul>
                                {% comment %} <p>{{tour.description|wordwrap:"10"|slice:":50"}}....</p> {% endcomment %}
                                {% comment %} <div class="btn-box">
                                    <a href="{% url 'tour_details' tour.activity_id %}">See Details</a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                    {%endfor%}
        </div>
    </div>
    </section>
    
<style>
    .tour-block-one .inner-box .lower-content .info li {
        position: relative;
        float: left;
        display: inline-block;
        font-size: 13px;
        color: #808080;
        font-weight: 500;
        padding-left: 24px;
        margin-right: 35px;
    }

    .tour-block-one .inner-box .lower-content h3 {
        display: block;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
            
    }
    .middleclass{
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        opacity: 1;
        color: #fff;
        z-index:1;
    }
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
        
      }
      .bottom-left .rating{
        color: #ffab01;
      }
</style>

<!--Enhanced later End-->    
{% endblock content %}