{%extends 'base.html'%}
{%block content%}
<div class="faq-content ">
    <div class="sec-title">
        <h2>Why Goreto ?</h2>
    </div>
    <ul class="accordion-box">
                    <li class="accordion block active-block">
                        {% for whyus in whyuss%}
                        <div class="acc-btn active">
                            <div class="icon-outer"></div>
                            <h4>{{whyus.title}}</h4>
                        </div>
                        <div class="acc-content current">
                            <div class="text">
                                <p>{{whyus.description}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </li>
       </ul>
</div>

{%endblock content%}